.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    gap: 4rem;

    @include mediaQuery($tab) {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    @include mediaQuery($mobile) {
        grid-template-columns: 1fr;
        row-gap: 2rem;
    }
}

.card {
    padding: 1.5rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background: $color-primary-back-light;
    animation: goUp 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0 0;
    &-title {
        font-size: 2.4rem;
        font-weight: 700;
        text-transform: capitalize;
        color: $color-secondary-text;
        text-align: center;
    }

    &-description {
        font-size: 1.5rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
        min-height: 180px;
    }

    &-tech {
        &-items {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &-item {
            font-size: 1rem;
            color: #baaeae;
        }
    }

    &-links {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 2rem;
    }

    // Min width Media
    @include mediaQuery($desktop) {
        &-description {
            min-height: 210px;
        }
    }
    // Max width Media
    @include mediaQuery($tab) {
        &-description {
            font-size: 1.8rem;
            min-height: 150px;
        }
        &-tech-item {
            font-size: 1.3rem;
        }
    }

    @include mediaQuery($mobile) {
        &-description {
            font-size: 2rem;
        }
        &-tech-item {
            font-size: 1.5rem;
        }
    }
}

.git-link,
.open-link {
    display: inline-block;
    & svg {
        width: 3rem;
        height: 3rem;
        transition: all 0.3s;
    }
}

a[class$="-link"]:hover svg {
    filter: brightness(70%);
}
