.footer {
    padding: 1.5rem 3rem;
    text-align: center;

    &-text {
        font-size: 1.6rem;
        & span {
            font-weight: 700;
            color: transparent;
            -webkit-background-clip: text;
            background-clip: text;
            -moz-background-clip: text;
            background-image: linear-gradient(to right, $color-primary-text, $color-secondary-back-2);
        }
    }
}

.profile {
    padding: 1rem;
}

.profile-link-items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.profile-link img {
    width: 32px;
}
